{
  "semi": false,
  "trailingComma": "all",
  "printWidth": 90,
  "quoteProps": "consistent",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf"
}