<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796001515981-gdqb577847h3codpfvrhe1ipu8hnbnav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796001515981-gdqb577847h3codpfvrhe1ipu8hnbnav</string>
	<key>API_KEY</key>
	<string>AIzaSyBj-kb50Am11N-s4kzQQFD3U4hPNSNEuiE</string>
	<key>GCM_SENDER_ID</key>
	<string>796001515981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puravida.app</string>
	<key>PROJECT_ID</key>
	<string>puravida-7022b</string>
	<key>STORAGE_BUCKET</key>
	<string>puravida-7022b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796001515981:ios:5ce9db52dbc3bea97b2c84</string>
</dict>
</plist>