<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864118073014-puuuffp1dkd9kaopcrq30bbpdqj78iv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864118073014-puuuffp1dkd9kaopcrq30bbpdqj78iv2</string>
	<key>API_KEY</key>
	<string>AIzaSyDWy0fI99G7HrcygHt6GkwAKmVgnz7p3DA</string>
	<key>GCM_SENDER_ID</key>
	<string>864118073014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.chirripo.app</string>
	<key>PROJECT_ID</key>
	<string>galoy-pura-vida</string>
	<key>STORAGE_BUCKET</key>
	<string>galoy-pura-vida.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864118073014:ios:be9a6207b736944537e817</string>
</dict>
</plist>