<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771930724259-u8ddqu2ium6hnm320jm2nlesui1frimu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771930724259-u8ddqu2ium6hnm320jm2nlesui1frimu</string>
	<key>API_KEY</key>
	<string>AIzaSyAftrPnJxZT9h84KBkWrsa_Dq2l1rl1nGs</string>
	<key>GCM_SENDER_ID</key>
	<string>771930724259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.puravidabitcoin.app</string>
	<key>PROJECT_ID</key>
	<string>responsive-edge-344815</string>
	<key>STORAGE_BUCKET</key>
	<string>responsive-edge-344815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771930724259:ios:45309ee039e2d445dd2c16</string>
	<key>DATABASE_URL</key>
	<string>https://responsive-edge-344815-default-rtdb.firebaseio.com</string>
</dict>
</plist>